SUPABASE_URL=https://rvavffrowjxpqeifwdjs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YXZmZnJvd2p4cHFlaWZ3ZGpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTI0NjIyMSwiZXhwIjoyMDY2ODIyMjIxfQ.tV3lrGKijSX0jLl6l_T7WBHHl8FDvwxUEILEbKC041g
PORT=3000
INTERNAL_API_KEY=sb_publishable_0SScdy0JSxJMmhQaLfU1kw_dPrr4BWl


